<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
.mc-form-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40ch, 1fr))
}

.mc-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
</style>
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e17d782cfe1ca00121a4136&product=inline-share-buttons&cms=website' async='async'></script>